<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.geeksworld.jktdvr" >
    <uses-feature android:glEsVersion="0x00020000" android:required="true" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />


    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"  />

    <application
        android:name=".aBase.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >


        <activity android:name=".activity.MainActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="vrjktd" android:host="com.jktd.jktdvr"  />
                <!--<a href="[scheme]://[host]/[path]?[query]">启动应用程序</a>-->
            </intent-filter>
        </activity>

        <activity android:name=".activity.PageWebActivity"></activity>
        <activity android:name=".activity.SettingActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.PersonInfoActivity" android:screenOrientation="portrait"></activity>

        <activity android:name=".activity.LoginActivity" android:screenOrientation="portrait"></activity>

        <activity android:name=".activity.RegisterActivity" android:screenOrientation="portrait"></activity>

        <activity android:name=".activity.LicenseActivity" android:screenOrientation="portrait"></activity>

        <activity android:name=".activity.ForgotPass0Activity" android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.ForgotPass1Activity" android:screenOrientation="portrait"></activity>

        <activity android:name=".activity.SearchActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.MineWorkActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.VRWorkEditActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.PlayerActivity"

            android:configChanges="orientation|screenSize|keyboard|keyboardHidden|navigation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"></activity>

        <activity android:name=".activity.HeadIconActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.CommentListActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.PublishCommentActivity" android:screenOrientation="portrait"></activity>

        <!--微信-->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
    </application>

</manifest>